* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(8, 163, 117);
}

.container {
    /* display: grid; */
    display: grid;
    background: rgb(134, 135, 143);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(3.9em, auto) minmax(30em, auto) repeat(3, minmax(19em, auto)) minmax(27em, auto) minmax(12em, auto);
}

.container div {
    background: rgb(15, 197, 61);
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container :nth-child(1) {
    background: #e24a2f;
    grid-column: 1 / -1;
    grid-row: span 1;
}

.container :nth-child(2) {
    display: none;
}

.container :nth-child(3) {
    background: rgb(42, 13, 204);
    grid-column: 1/ -1;
    grid-row: 2;
}

.container :nth-child(4) {
    background: rgb(27, 252, 57);
    grid-column: 1 / -1;
    grid-row: 3;
}

.container :nth-child(5) {
    background: rgb(236, 16, 53);
    grid-column: 1 / -1;
    grid-row: 4;
}

.container :nth-child(6) {
    grid-column: 1 / -1;
    grid-row: 5;
}

.container :nth-child(7) {
    grid-column: 1 / -1;
    border: none;
    background: rgb(211, 176, 176);
}

.container :nth-child(8) {
    grid-column: 1 / -1;
}

@media screen and (min-width:48em) {
    body {
        background: red;
    }
    .container {
        grid-template-rows: minmax(50px, auto) minmax(33em, auto) repeat(3, minmax(25em, auto)) minmax(33em, auto) minmax(32em, auto);
    }
    .container :nth-child(4) {
        grid-column: span 8;
    }
    .container :nth-child(5) {
        grid-column: 5 / -1;
    }
    .container :nth-child(6) {
        grid-column: span 8;
    }
}

@media screen and (min-width:62em) {
    body {
        background: #000;
    }
    .container {
        margin: 0 auto;
        width: 98%;
        grid-template-rows: minmax(3.9em, auto) minmax(33em, auto) repeat(3, minmax(26em, auto)) minmax(20em, auto) minmax(8em, auto);
        grid-gap: 0;
    }
    .container :nth-child(1) {
        grid-column: 1 / 6;
    }
    .container :nth-child(2) {
        display: block;
        grid-row: 1;
        grid-column: 6/ -1;
    }
    .container :nth-child(4) {
        grid-column: 5 / -1;
        grid-row: 3;
    }
    .container :nth-child(5) {
        grid-column: 1 / -1;
        grid-row: 4;
    }
    .container :nth-child(6) {
        grid-column: 1 / -1;
        grid-row: 5;
    }
    .container :nth-child(7) {}
}