* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(185, 211, 203);
}

.container {
    /* mobile first */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(3.9em, auto) minmax(30em, auto) repeat(3, minmax(19em, auto)) minmax(27em, auto) minmax(19em, auto);
}

.container div {
    border: 1px solid rgb(247, 137, 137);
    font-size: 2.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .logo {
    /* grid-row: 1; */
    background: #fad7a0;
}

.container .navigation {
    display: none;
    background: #ec7063;
}

.container .banner {
    /* grid-row: 2; */
    background: #f8c471;
}

.container .logo,
.banner,
.serv1,
.serv2,
.serv3,
.content,
.footer {
    grid-column: 1/ -1;
    background: #fad7a0;
}

.container .content {
    background: #f8f9f9;
}

.container .footer {
    background: #ec7063;
}


/* tablets */

@media screen and (min-width:42em) {
    .container {
        margin: .6em auto;
        width: 99.3%;
        grid-template-rows: minmax(5em, auto) minmax(33em, auto) repeat(3, minmax(25em, auto)) minmax(33em, auto) minmax(26em, auto);
        gap: .8em 0;
    }
    .container .serv1,
    .serv3 {
        grid-column: span 8;
    }
    .container .serv2 {
        grid-column: 5 / -1;
    }
}


/* desktop */

@media screen and (min-width:64em) {
    .container {
        margin: 1em auto;
        width: 97.5%;
        grid-template-rows: minmax(4.5em, auto) minmax(33em, auto) minmax(26em, auto) minmax(40em, auto) minmax(18em, auto);
        gap: 1.2em 1em;
    }
    .container .logo {
        grid-column: 1 / 6;
    }
    .container .navigation {
        display: inline-flex;
        float: center;
        grid-column: 6/ -1;
    }
    .container .serv1 {
        grid-column: span 4;
    }
    .container .serv2 {
        grid-column: span 4;
    }
    .container .serv3 {
        grid-column: span 4;
    }
}